.container {
  padding: 0 2rem;
  font-family:'Courier New', Courier, monospace;
}

.navbarlogo{

  float: left;
  color: black;
  
}

.navbarlogoPara{
  float: right;
  font-weight: bolder;
  font-family:'Courier New', Courier, monospace;

}

.poster{

  padding-top: 100px;
  position: relative;
}

.categories{
  float: left;
  /* background-color: rgb(245, 157, 43); */
  height: 140px;
  width: 140px;
  margin: 10px;
  border: none;
  border-radius: 100px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: large;
  text-transform: uppercase;
  transition: transform 0.2s;

  background-image: radial-gradient(#212121 20%, transparent 20%),
  radial-gradient(#fafafa 20%, transparent 20%);
  background-color: rgb(252, 118, 9);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;

}

.categories:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #636262;

}

.categoryCart{
  width: 100%;
  height: 320px;
}

.posterHeadind{
  margin-left: 450px;
  margin-top: -280px;
  position: absolute;
  font-size: 80px;
  font-weight: 900;

}

.posterHeadind > div{
  font-size: 20px;
  font-weight: 800;
  margin-left: 150px;

}



.categories >div{
  
  background-color: rgb(255, 255, 255);
}

.categoryTitle{
  font-size: 30px;
}

.posterHeadind > span{
  color: orangered;
}
